* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding/border are included in the element's total width/height */
}

body,html{
    height: 100%;
}
body{
    background-color: rgb(82, 78, 78);
    height: 100vh; /* Full height of the screen */
    margin: 0;
    
}

header {
    background-color: #353030; /* Dark background */
    padding: 10px 20px;
}
nav ul {
    list-style: none; /* Remove default list bullets */
    margin: 0;
    padding: 0;
    display: flex; /* Arrange items horizontally */
    justify-content: center; /* Center the items */
}


nav ul li {
    margin: 0 15px; /* Space between each item */
}
nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2rem;
    padding: 8px 16px;
    display: block; /* Make the link clickable over the entire area */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

nav ul li a:hover {
    background-color: #0a0909; /* Darken the background on hover */
}

.Links{
    background: rgb(82, 78, 78);
    text-align:left;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;


}
a{
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: white;
}
a:hover{
    color: rgb(243, 22, 221);
}